<nav
  class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
  id="navbarBlur"
  data-scroll="false"
>
  <div class="container-fluid py-1 px-3">
    <!-- Pagination -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm opacity-5 text-white">
          Imobiliária
        </li>
        <li
          class="breadcrumb-item text-sm text-white active"
          aria-current="page"
        >
          Home
        </li>
      </ol>
      <h6 class="font-weight-bolder text-white mb-0">Home</h6>
    </nav>
    <!-- End Pagination -->

    <!-- Buttons -->
    <div class="d-flex align-items-center gap-5">
      <a
        href="./pages/cases.html"
        type="button"
        class="btn bg-gradient-warning"
      >
        <span>Casos em aberto</span>
        <span class="badge bg-default ms-2">10</span>
      </a>
      <a
        href="javascript:;"
        class="nav-link d-xl-none text-white p-0"
        id="iconNavbarSidenav"
      >
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
        </div>
      </a>
      <a href="./pages/sign-in.html" class="btn bg-danger text-white">
        <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
        Sair
      </a>
    </div>
    <!-- End Buttons -->
  </div>
</nav>
