<div
  class="tab-pane fade show active"
  id="home-tab-pane"
  role="tabpanel"
  aria-labelledby="home-tab"
  tabindex="0"
>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header pb-0">
        <div class="d-flex align-items-center">
          <h4 class="mb-0">Dados da Imoboliária</h4>
          <button class="btn btn-primary btn-sm ms-auto">Alterar dados</button>
        </div>
      </div>
      <div class="card-body">
        <p class="text-uppercase text-sm">Administrativo</p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Nome</label
              >
              <input class="form-control" type="text" value="XXXXX" disabled />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Cresci Jurídico</label
              >
              <input class="form-control" type="email" value="XXXXX" disabled />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >CNPJ</label
              >
              <input
                class="form-control"
                type="email"
                value="XX.XXX.XXXX.XX"
                disabled
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >CNPJ (anexo)</label
              >
              <input class="form-control" type="image" disabled />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Logotipo</label
              >
              <input class="form-control" type="image" disabled />
            </div>
          </div>
        </div>
        <hr class="horizontal dark" />
        <p class="text-uppercase text-sm">Contato</p>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Logradouro</label
              >
              <input class="form-control" type="text" value="XXXXX" disabled />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Telefone</label
              >
              <input
                class="form-control"
                type="text"
                value="(XX) XXXXX-XXXX"
                disabled
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Email</label
              >
              <input class="form-control" type="text" value="XXXXX" disabled />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Whatsapp</label
              >
              <input
                class="form-control"
                type="text"
                value="(XX) XXXXX-XXXX"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
